// ==========================================================================
// Variables
// ==========================================================================


//  Descriptive colors    //

$tundora:          #4d4c4c;
$white:             #FFF;
$gallery:           #ECECEC;
$wild-dove:         #8a8a8a;
$nobel:             rgb(183, 183, 183);
$mine-shaft:        rgba(59, 59, 59, .65);


// Base style colors //
    
    //main
// $main-color:           $ship-cove;
// $main-color-lighter:   $ship-cove-light;
$font-main-color:         $tundora;
$font-secondary-color:    $wild-dove; 

    //logo
// $company-logo:         $melrose;
// $company-logo-hover:   $Anakiwa;

    //border
$border-color-light:      $nobel;

//     //button
// $button-hover:         $de-york;
// $icon-non-active:      $spun-pearl;
// $icon-hover:           $gallery;
// $link-hover:           $spindle;

//     //nav and alert banner
// $nav-color:            $mulled-wine;
// $banner-color:         $wistful;
// $alert-bell-unread:    $de-york;

//     //checkbox sliders
// $slider-on:            $de-york;
// $slider-off:           $mulled-wine;



// // Font Stacks //

// $main-font:      'Raleway', sans-serif;
// $secondary-font: 'Lato', sans-serif;

// //Font weights //

// $font-thin:        100;     //lato
// $font-extra-light: 200;     //raleway
// $font-light:       300;     //raleway & lato
// $font-regular:     400;     //lato
// $font-bolder:      500;     //raleway