@import 'normalize';
@import 'variables';
@import 'mixins';

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    height: 10vh;
}

header p {
    padding-left: 20px;
    padding-top: 20px;
}

#employees-container {

    height: 100%;
    width: 90%;
    margin: auto;
    border: solid 1px black;
}

#employees {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.employee-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 6%;
    border: solid 1px;
    border-color: $border-color-light;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    list-style-type: none;
}

.employee-card img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.employee-card p {
    margin-left: 10px;
}

footer {
    height: 50px;
    padding-top: 20px;
}

footer p {
    padding-left: 15px;
}
